<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- Main content area -->
      
      <!-- Your existing code -->
       <form action="/list-edit" method="GET">
        <div class="input-group">
  <input type="text" name="search" placeholder="Search Blog Title" class="form-control rounded" aria-label="Search" aria-describedby="search-addon" />
  <input type="submit" class="btn btn-outline-primary"></input>
</div>
</form>
                <hr class="my-4" />
      <!DOCTYPE html>
<html>
  <head>
    <title>Post List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>Post List</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Post SubHeading</th>
            <th>Date</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% posts.forEach(post => { %>
        <tbody>
          <tr>
            <td><%= post.postTitle %></td>
            <td><%= post.postSubHeading %></td>
            <td><%= post.postDate %></td>
            <td><%= post.postCategory %></td>
            <td>
              <a href="/edit/<%= post.postTitle %>" class="btn btn-primary">Edit Post</a>
            </td>
          </tr>
        </tbody>
        <% }) %>
      </table>
    </div>

                    <% if (totalPages > 1) { %>
<nav aria-label="Page navigation example" class="mx-auto">
  <ul class="pagination text-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <% for (var i = 1; i <= totalPages; i++) { %>
    <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<% } %>

    </div>
