<%- include('partials/header'); %>

<% posts.forEach(post => { %>
   <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                <hr class="my-4" />
                    <!-- Post preview-->
                     <div class="post-preview">
                        <a href="/posts/<%= post._id %>">
                            <h2 class="post-title"><%= post.postTitle %></h2>
                            <h3 class="post-subtitle"><%= post.postBody %></h3>
                            <h5 class="post-subtitle"><%= post.postCategory %></h5>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Atharva</a>
                            on <%= post.postDate %>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        
<% }) %>
<%- include('partials/footer'); %>
